:root{
    --color-primaria:#1A4D8F;
    --font-family:(--font-family)
}
.principal{
    display: flex;
    height: 700px;
    margin-top: 0%;
}
.um{
    background-color: #CBDCF3;
    height: 100%;
    width: 50%;
    text-align: center;
    margin-top: 0%;
    color:var(--color-primaria);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.dois{
    background-color: #fff;
    height: 100%;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    color:var(--color-primaria);
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    text-align: center;
    margin-top: 100px;
}
.crie_agora{
    margin-top: 100px;
    text-align: center;
}

.voltar{
    position: relative;
    left: 10px;
    top:20px;
    
    
}

.formulario{
  
    height: 100%;
    width: 50%;
    text-align: center;
    margin-top: 0%;
   
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
